.post {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.4rem 2rem 3.4rem 0;

  &:nth-child(3) {
    border-top: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
  }
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
  &__wrapper {
    grid-column: 1/2;
  }
  &__title {
    font-size: 1.625rem;
    font-weight: lighter;
    line-height: 2.5;
    font-family: "Merriweather";
  }
  &__things,
  &__desc {
    font-size: 1.125rem;
    font-weight: 300;
    font-family: "Merriweather";
    font-weight: 300;
  }
  &__things {
    align-self: center;
    justify-self: end;

    @media screen and (max-width: 1300px) {
      margin-top: 3rem;
    }
  }
}
.paginationBttns {
  margin: 2% 0;
  list-style: none;
  display: flex;
  justify-content: center;

  a {
    padding: 10px;
    margin: 8px;
    border: 1px solid transparent;
    color: #000;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: white;
      background-color: #707070;
    }
  }
}
.paginationActive a {
  color: #000;
  border: 1px solid #707070;
}
