$color-white: #fff;
$color-font: #3c3c3c;
$color-black: #000;
$color-placeholder: #3c3c3c26;
$color-underline: #707070;
$background-light: #f0f1f1;
$color-count: #5e5322;
$background-yellow: #fad648;
