.moves__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 13%;

  &__icon {
    display: flex;
    justify-content: center;
  }

  &__title {
    text-align: center;
    font-size: 1.125rem;
  }

  &__separator {
    border-bottom: 1px solid black;
    width: 50%;
  }

  &__description {
    text-align: center;
  }
}
